name: Build Release App Bundle - Release

# 触发ci的时机
on:
  pull_request:
    branches: [ release ]

  # 触发CI的分支及相应的文件变化时执行
  push:
    branches: [ master ]
    paths:
      - 'buildVersion.gradle'

jobs:
  Build:
    name: Build Apk Task
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code

        #uses: actions/checkout@v2 # git原生平台提供的, 处理超过100MB大小的文件，但是缓存超过1GB时会收取一些费用
        #with:
         # lfs: true
        uses: nschloe/action-cached-lfs-checkout@v1 # 使用此方案代替可以绕过限制

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Build Release APK
        run: gradle wrapper --gradle-version 6.5 && ./gradlew clean && ./gradlew app:assembleRelease

      - name: Signing Release APK
        uses: r0adkll/sign-android-release@v1
        id: sign_app # 定义ID可用于在后面获取相关属性
        with:
          releaseDirectory: app/build/outputs/apk/google/release
          signingKeyBase64: ${{ secrets.KEY_BASE64 }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.STOREPASS }}
          keyPassword: ${{ secrets.KEYPASS }}
        env: # 设置构建工具版本(此步骤为可选)
          BUILD_TOOLS_VERSION: "30.0.2"

      #- name: Handle Signed APK
       # run: bash ./operate-signed-apk.sh

      - name: Upload APK
        uses: luochongfei/up2qn@master
        with:
          bucket: linecloud
          zone: 华南
          access_key: ${{ secrets.AK }}
          secret_key: ${{ secrets.SK }}
          local_dir: app/build/outputs/apk/google/release
          target_dir: update/apk/

      - uses: actions/setup-python@v2
        with:
          python-version: '3.6' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified

      - name: Notification App Updated
        run: python3 update_notification.py

      - name: Move to upload
        run: mkdir upload-infojson && mv info.json upload-infojson/

      # 上传更新文件
      - name: Upload info.json
        uses: luochongfei/up2qn@master
        with:
          bucket: lemurbrowser
          zone: 华南
          access_key: ${{ secrets.AK }}
          secret_key: ${{ secrets.SK }}
          local_dir: upload-infojson
          target_dir: update/